<html>
  <head>
    <link rel="stylesheet" href="/Users/parth/Desktop/DataGlacier/Deployment_on_Flask/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  </head>
  <body>
    <form action="/" method="POST" class="form-example">
      <div class="form-example">
        <label for="name">Enter Company name: </label>
        <input type="text" name="Make" id="name" required>
      </div>
      <div class="form-example">
        <label for="Model">Model: </label>
        <input type="text" name="Model" id="Model" required>
      </div>  
    <div class="form-example">
        <label for="Year">Year: </label>
        <input type="int" name="Year" id="Year" required>
      </div>
      <div class="form-example">
        <label for="Fuel">Fuel: </label>
        <input type="text" name="Fuel" id="Fuel" required>
      </div>
      <div class="form-example">
        <label for="Car documents">Car documents: </label>
        <input type="text" name="Car documents" id="Car documents" required>
      </div>
      <div class="form-example">
        <label for="Transmission">Transmission: </label>
        <input type="text" name="Transmission" id="Transmission" required>
      </div>
      <div class="form-example">
        <input class="btn btn-primary" type="submit"  value="Predict">
      </div>
    </form>
  </body>
</html>